.sidebar {
  position: fixed;
  flex-direction: column;
  top: 57px;
  left: 0;
  bottom: 0;
  width: 72px;
  background-color: white;
}

.sidebar-link img {
  height: 24px;
  margin-bottom: 6.5px;
}

.sidebar-link {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  height: 74px;
  font-size: 10px;
}

.sidebar-link:hover {
  background-color: rgb(238, 238, 238);
}
