.header{
        position: fixed;
        top: 0px;
        left: 0px;
        right: 0px;
        height: 60px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-left: 70px;
        padding-right: 70px;
        border-bottom: 1px solid gray;
    }

    .profile-info{
        display: flex;
        flex: 1;
        align-items: center;
    }

    img{
        height: 50px;
        width: 50px;
        object-fit: cover;
        border-radius: 50%;
        margin-right: 10px;
    }

    .profile-name{
        font-weight: bold;
        font-size: 20px;
    }

    .buttons{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    button{
        font-size: arial;
        font-weight: bold;
        margin: 5px 5px;
        height: 35px;
        width: 100px;
        border-radius: 5px;
        border: none;
    }

    .add-button{
        background-color: rgb(41, 128, 209);
        color: white;
    }

    .message-button{
        background-color: rgb(226, 226, 226);
        color: rgb(0, 0, 0);
    }
